@model BugTracker.Models.Ticket
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

@using (Html.BeginForm("CreateM", "Tickets", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h3 class="modal-title">Add New Item</h3>
    <hr />
    @Html.ValidationSummary(true)
    <div class="modal-body">
        @Html.LabelFor(model => model.Id, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)

        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)

        @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.CreatedOn, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CreatedOn)

        @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CreatedBy)
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
}
