@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Tous les Bugs</h1>

<!--<p>
    <a onclick="OpenAddModalProjects('Tickets')">Create New</a>
</p>-->
<br />
<br />
<table class="table table-hover table-earning">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <!--<td>
                    <a onclick="OpenEditModalProjects('Tickets',@item.Id)">Edit</a> |
                    <a onclick="OpenDeleteModal('Tickets',@item.Id)">Details</a> |
                    <a onclick="OpenDetailsModal('Tickets',@item.Id)">Delete</a>
                </td>-->
            </tr>
        }
    </tbody>
</table>
