@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var ID = ViewBag.ID;
    var name = ViewBag.projetname;
}


<h1>Bugs: Projet @name</h1>
<br />
<br />
<!-- tool start -->
<div class="table-data__tool">
    <div class="table-data__tool-left" style="width: 50%;">
        <!-- Starrt search -->
        <center class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
                <input id="search" type="search" placeholder="Tapez ce que vous cherchez ?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </center>
        <!-- End search-->
    </div>
    <div class="table-data__tool-right">
        <a class="au-btn au-btn-icon au-btn--bug au-btn--small" data-modal="" id="btnCreate" onclick="OpenAddModal('Tickets',@ID)">
            <i class="fa-solid fa-plus"></i>Declarer Bug
        </a>
    </div>
</div>
<!--tool end-->
<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped table-earning" id="table_id">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="TicketDetails" asp-action="TickD" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        <!--  <a class="item" asp-area="" asp-controller="TicketDetails" asp-action="TickD" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ticket Details"><i class="fa-solid fa-receipt"></i></a> -->
                        <a class="item tt" onclick="OpenEditModalProjects('Tickets',@item.Id)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a class="item tt" onclick="OpenDeleteModal('Tickets',@item.Id)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa-solid fa-circle-minus"></i></a>
                        <a class="item tt" onclick="OpenDetailsModal('Tickets',@item.Id)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Details"><i class="fa-solid fa-circle-info"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Model Start-->
<!-- modal placeholders start-->
<div id="modal-edit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='modal-edit-content'></div>
        </div>
    </div>
</div>
<div id="modal-add" class=" modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='modal-add-content'></div>
        </div>
    </div>
</div>
<div id="modal-delete" class=" modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='modal-delete-content'></div>
        </div>
    </div>
</div>
<div id="modal-details" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='modal-details-content'></div>
        </div>
    </div>
</div>
<!-- modal placeholders end-->