@model BugTracker.Models.Project
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

@using (Html.BeginForm("Details", "Projects", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h3 class="modal-title">Details</h3>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div class="modal-body">
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly" })

        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @readonly = "readonly" })

        @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.CreatedOn, new { @class = "form-control", @readonly = "readonly" })

        @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button class="btn btn-outline-info" asp-area="" asp-controller="Tickets" asp-action="Tick" asp-route-id="@Model.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tickets"><i class="fa fa-ticket"></i> Bugs</button>
    </div>

}