@model BugTracker.Models.Project
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

@using (Html.BeginForm("Edit", "Projects", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h3 class="modal-title">Modifier Projet</h3>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div class="modal-body">
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @name = "name" })
        @Html.ValidationMessageFor(model => model.Name)

        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)

        @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.CreatedOn, new { @type = "datetime-local", @class = "form-control datepicker" })
        @Html.ValidationMessageFor(model => model.CreatedOn)

        @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CreatedBy)
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </div>
}
